@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
  --prime-color:  #2c3e50;
  --second-color: lightgrey;
}

body {
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "Noto Sans JP", sans-serif;
	color: #111;
	background-color: #FFF;
}

main div {
  text-align: center;
}

h2 {
  margin-bottom: 0px;
}

#input_char {
  width: 4em;
}

/* Table */
table {
	border-spacing: 3px;
  padding-top: 10px;
  margin:0 auto;
}

th, td {
	padding: 5px;
}

th {
	color: #FAFAFA;
  background-color: var(--prime-color);
	font-size: 17px;
  padding-left: 8px;
  padding-right: 8px;
}

td {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.bg1 td {
  background-color: var(--second-color);
}

.char, .big_font {
  text-decoration: none;
  font-family: "Noto Serif JP", sans-serif;
}

.big_font {
  color: black;
  font-size: 120px;
}

/* Horizontal Items */
.horizontal_items {
  text-align: center;
}

.horizontal_items li {
  display: inline-block;
  width: 160px;
}

li a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}

li:hover {
  background-color: lightgrey;
}

/* Text Color */
.caution {
	color: var(--color-caution);
	font-weight: 800;
}

.warn {
	color: var(--color-warn);
	font-weight: 800;
}

/* 表 */
.number {
    text-align: right;
}
