<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>似ている文字サーチャー</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <main>
      <div>
        <h1>似ている文字サーチャー</h1>
        <p>
          文字を入力すると，形が似ている文字が見つかる…かもしれません…<br>
          英数字や記号，特殊文字などに対応しています。<br>
          かな，漢字は未対応です…<br>
        </p>
      </div>

      <div>
        <form action="/" method="get">
          {% if input_char %}
          <input type="text" maxlength="1" name="search_char" id="input_char" value="{{ input_char }}">
          {% else %}
          <input type="text" maxlength="1" name="search_char" id="input_char">
          {% endif %}
          <input type="submit" value="検索">
        </form>
      </div>

      {% if input_char %}
      <div>
        <h2>入力された文字</h2>
        <div>
          <span class="big_font">{{ input_char }}</span>
          <p>文字コード(UTF-8)： {{ input_code }}</p>
        </div>
      </div>
      {% endif %}

      <div>
        {% if res %}
        <hr>
        <h2>これに似た形の文字はこちら</h2>
        <div>
          {% if reccomend_idxs %}
          <ul class="horizontal_items">
            {% for reccomend_idx in reccomend_idxs %}
            {% set row = res[reccomend_idx] %}
            <li>
              <a href="/?search_char={{ row[0] }}" class="big_font">{{ row[0] }}</a>
              <a href="/?search_char={{ row[0] }}">{{ row[1] }}</a>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>これに似た形の文字は、あまりないようです…</p>
          {% endif %}
        </div>

        <hr>
        <h2>順位一覧</h2>
        <table>
          <tr><th>順位</th><th>文字</th><th>文字コード(UTF-8)</th><th>類似度(%)</th></tr>
          {% for row in res %}
          <tr class="bg{{ loop.index % 2 }}">
            <td>{{ loop.index }}</td>
            <td><a href="/?search_char={{ row[0] }}" class="char">{{ row[0] }}</a></td>
            <td class="number">{{ row[1] }}</td>
            <td class="number">{{ row[2] }}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
      </div>
    </main>

    <footer>
      <hr>
      shirosha2, June 2021.
    </footer>

  </body>
</html>
