<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>似ている文字サーチャー</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <main>
      <div>
        <h1>似ている文字サーチャー</h1>
        <p>
          文字を入力すると，形が似ている文字が見つかる…かもしれません…<br>
        </p>
      </div>

      <div>
        <form action="/" method="get">
          {% if input_char %}
          <input type="text" maxlength="1" name="search_char" id="input_char" value="{{ input_char }}">
          {% else %}
          <input type="text" maxlength="1" name="search_char" id="input_char">
          {% endif %}
          <input type="submit" value="検索">
        </form>
      </div>

      <div>
        <table>
          {% if res %}
          <tr><th>順位</th><th>文字</th><th>文字コード(UTF-8)</th><th>類似度(%)</th></tr>
          {% for row in res %}
          <tr class="bg{{ loop.index % 2 }}"><td>{{ loop.index }}</td><td>{{ row[0] }}</td><td class="number">{{ row[1] }}</td><td class="number">{{ row[2] }}</td></tr>
          {% endfor %}
          {% endif %}
        </table>
      </div>
    </main>

    <footer>
      <hr>
      shirosha2, June 2021.
    </footer>

  </body>
</html>
